body {
    background-color:  #FC9227;
}
.uct-logo {
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    left: 0;

    margin: 20%;
}
.sub-heading {
    /*background-color: aqua;*/
    border-bottom: solid black 2px;
    padding-bottom: 2px; 
}
.heading {
    border-bottom: solid rgb(158, 158, 251) 1px;
}
.info-row {
    margin: 0px;
    padding: 0px;
}
.status {
    border-radius: 100%;
    height: 50px;
    background-color: green;
}/*
.applicant-name {
    background-color: azure;
}*/