body {
    background-color: #FC9227;
    /*background-image: url('../images/background.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;*/
}
.uct-logo {
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    left: 0;

    margin: 20%;
}

/*#links {
    display: inline-block;
    width: 25%;
    border: solid blue 1px;
    /*background-color: green;
}
#sub-status {
    /*display: inline-block;
    width: 25%;
    border: solid blue 1px;
    /*margin-left: 100px;
    margin-top: 2px;*/
    /*background-color: greenyellow;
}*/